<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<title>Appliance Details</title>
		{% load staticfiles %}
		<link rel="shortcut icon" href="{% static 'cia_portal/favicon.ico' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/navigation.css' %}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<meta charset="utf-8" />
		<meta name="author" content="Michael O'Neill" />
		<meta name="keywords" content="appliance, details" />
		<meta name="description" content="Appliance detail view." />
	</head>

	<body>
		<header>
			<h1>Appliance Details</h1>
		</header>

		<nav>
			{% include 'cia_portal/navigation.html' %}
		</nav>

		<table class="vert_table">
			<tr>
				<th>Asset Tag:</th>
				<td>{{appliance.asset_tag}}</td>
			</tr>
			<tr>
				<th>Account:</th>
				<td>{{appliance.account}}</td>
			</tr>
			<tr>
				<th>Model:</th>
				<td>{{appliance.model}}</td>
			</tr>
			<tr>
				<th>DPU Type:</th>
				<td>{{appliance.dpu_type}}</td>
			</tr>
			<tr>
				<th>Version:</th>
				<td>{{appliance.version}}</td>
			</tr>
			<tr>
				<th>Operating System:</th>
				<td>{{appliance.os}}</td>
			</tr>
			<tr>
				<th>Hostname:</th>
				<td>{{appliance.hostname}}</td>
			</tr>
			<tr>
				<th>MAC Address:</th>
				<td>{{appliance.mac}}</td>
			</tr>
			<tr>
				<th>IP Address:</th>
				<td>{{appliance.ip_address}}</td>
			</tr>
			<tr>
				<th>Install Date:</th>
				<td>{{appliance.install_date}}</td>
			</tr>
		</table>

		<form action="edit/">
			<p><input type="Submit" value="Edit" /></p>
		</form>
	</body>
</html>
