<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<title>Appliance Edit</title>
		{% load staticfiles %}
		<link rel="shortcut icon" href="{% static 'cia_portal/favicon.ico' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/navigation.css' %}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<meta charset="utf-8" />
		<meta name="author" content="Michael O'Neill" />
		<meta name="keywords" content="appliance, details, edit" />
		<meta name="description" content="Appliance edit view." />
	</head>

	<body>
		<header>
			<h1>Appliance Edit</h1>
		</header>

		<nav>
			{% include 'cia_portal/navigation.html' %}
		</nav>

		<form action="" method="post">{% csrf_token %}
			<table class="vert_table">
			{{ form.as_table }}
			</table>

			<p>
				<input type="submit" value="Submit" />
				<a href=".."><input type="button" value="Cancel" /></a>
			</p>
		</form>
	</body>
</html>
