<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<title>Appliance Listings</title>
		{% load staticfiles %}
		<link rel="shortcut icon" href="{% static 'cia_portal/favicon.ico' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/navigation.css' %}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<meta charset="utf-8" />
		<meta name="author" content="Michael O'Neill" />
		<meta name="keywords" content="CIA" />
		<meta name="description" content="List of appliances." />
	</head>

	<body>
		<header>
			<h1>Appliance Listings</h1>
		</header>

		<nav>
			{% include 'cia_portal/navigation.html' %}
		</nav>

		{% if appliances %}
		<table class="centered wide">
			<thead>
				<tr>
					<th class="nowrap">Asset Tag</th>
					<th class="nowrap wide">Account</th>
					<th class="nowrap">Version</th>
					<th class="nowrap">Hostname</th>
					<th class="nowrap">Install Date</th>
				</tr>
			</thead>

			<tfoot>
				<tr>
					<th class="nowrap">Asset Tag</th>
					<th class="nowrap wide">Account</th>
					<th class="nowrap">Version</th>
					<th class="nowrap">Hostname</th>
					<th class="nowrap">Install Date</th>
				</tr>
			</tfoot>

			<tbody>
			{% for appliance in appliances %}
				<tr>
					<td class="link nowrap"><a href="/{{appname}}/appliance/{{appliance.id}}/">{{appliance.asset_tag}}</a></td>
					<td class="nowrap">{{appliance.account}}</td>
					<td class="nowrap">{{appliance.version}}</td>
					<td class="nowrap">{{appliance.hostname}}</td>
					<td class="nowrap">{{appliance.install_date}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="pagination centered">
			<span class="step-links">
			{% if appliances.has_previous %}
				<a href="?page={{appliances.previous_page_number}}">&larr; Previous</a>
			{% else %}
					&larr; Previous
			{% endif %}
			{% if appliances.has_next %}
				<a href="?page={{appliances.next_page_number}}">Next &rarr;</a>
			{% else %}
					Next &rarr;
			{% endif %}
				<br/>
				<span class="current">Page {{appliances.number}} of {{appliances.paginator.num_pages}}</span>
			</span>
		</div>
		{% else %}
		<p>No appliances are available.</p>
		{% endif %}
	</body>
</html>
