<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<title>Categories</title>
		{% load staticfiles %}
		<link rel="shortcut icon" href="{% static 'cia_portal/favicon.ico' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/navigation.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/chart.css' %}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{% static 'cia_portal/js/verify_dates.js' %}"></script>
		<meta charset="utf-8" />
		<meta name="author" content="Michael O'Neill" />
		<meta name="keywords" content="CIA, category, module" />
		<meta name="description" content="List of categories." />
	</head>

	<body>
		<header>
			<h1>Categories</h1>
		</header>

		<nav>
			{% include 'cia_portal/navigation.html' %}
		</nav>

		{% include 'cia_portal/date_filter.html' %}

	{% if subcategories_with_counts %}
		<div id="category_links">
			<ul>
			{% for subcategory, count in subcategories_with_counts %}
				<li><a href="../subcategory/{{subcategory.id}}/?start_date={{dates.START}}&amp;end_date={{dates.END}}">{{subcategory}}</a> - {{count}}</li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}
	</body>
</html>
