<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<title>CIA Import</title>
		{% load staticfiles %}
		<link rel="shortcut icon" href="{% static 'cia_portal/favicon.ico' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/navigation.css' %}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<meta charset="utf-8" />
		<meta name="author" content="Michael O'Neill" />
		<meta name="keywords" content="CIA, import, salesforce" />
		<meta name="description" content="Import CSV of Salesforce CIA data." />
	</head>

	<body>
		<header>
			<h1>CIA Import</h1>
		</header>

		<nav>
			{% include 'cia_portal/navigation.html' %}
		</nav>

		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
			{{form.as_p}}
			<p><input type="submit" /></p>
		</form>
	</body>
</html>
