<!DOCTYPE HTML>
<html lang="en-US">
	<head>
	{% if component %}
		<title>{{component.name}} CIAs</title>
	{% else %}
		<title>CIA Listings</title>
	{% endif %}
		{% load staticfiles %}
		<link rel="shortcut icon" href="{% static 'cia_portal/favicon.ico' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/navigation.css' %}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{% static 'cia_portal/js/verify_dates.js' %}"></script>
		<meta charset="utf-8" />
		<meta name="author" content="Michael O'Neill" />
		<meta name="keywords" content="CIA" />
		<meta name="description" content="List of CIA cases." />
	</head>

	<body>
		<header>
		{% if component %}
			<h1>{{component.name}} CIAs</h1>
		{% else %}
			<h1>CIA Listings</h1>
		{% endif %}
		</header>

		<nav>
			{% include 'cia_portal/navigation.html' %}
		</nav>

		{% include 'cia_portal/date_filter.html' %}

	{% if cias %}
		<table class="centered wide">
			<thead>
				<tr>
					<th class="nowrap">Case No.</th>
					<th class="nowrap wide">Subject</th>
					<th class="nowrap">Close Date</th>
					<th class="nowrap">Component</th>
				</tr>
			</thead>

			<tfoot>
				<tr>
					<th class="nowrap">Case No.</th>
					<th class="nowrap">Subject</th>
					<th class="nowrap">Close Date</th>
					<th class="nowrap">Component</th>
				</tr>
			</tfoot>

			<tbody>
			{% for cia in cias %}
				<tr>
				{% if cia.clca.strip %}
					<td class="link nowrap">
				{% elif cia.rca.strip and not cia.clca.strip %}
					<td class="link nowrap partial">
				{% else %}
					<td class="link nowrap attention">
				{% endif %}
						<a href="/{{appname}}/{{cia.id}}/">{{cia.case_number}}</a>
					</td>
					<td>{{cia.subject}}</td>
					<td class="nowrap">{{cia.close_date}}</td>
					<td class="link nowrap"><a href="/{{appname}}/component/{{cia.component.id}}/?start_date={{dates.START}}&amp;end_date={{dates.END}}">{{cia.component}}</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		{% if cias.paginator.num_pages %}
		<div class="pagination centered">
			<span class="step-links">
			{% if cias.has_previous %}
				<a href="?page={{cias.previous_page_number}}&amp;start_date={{dates.START}}&amp;end_date={{dates.END}}">&larr; Previous</a>
			{% else %}
				&larr; Previous
			{% endif %}
			{% if cias.has_next %}
				<a href="?page={{cias.next_page_number}}&amp;start_date={{dates.START}}&amp;end_date={{dates.END}}">Next &rarr;</a>
			{% else %}
				Next &rarr;
			{% endif %}
				<br/>
				<span class="current">Page {{cias.number}} of {{cias.paginator.num_pages}}</span>
			</span>
		</div>
		{% endif %}
	{% else %}
		<p>No CIAs match filter.</p>
		{% if user.is_authenticated %}
		<p><a href="/{{appname}}/import/">Import</a></p>
		{% endif %}
	{% endif %}
	</body>
</html>
