<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<title>CIA Edit</title>
		{% load staticfiles %}
		<link rel="shortcut icon" href="{% static 'cia_portal/favicon.ico' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/navigation.css' %}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<meta charset="utf-8" />
		<meta name="author" content="Michael O'Neill" />
		<meta name="keywords" content="CIA, details, edit" />
		<meta name="description" content="CIA edit view." />
	</head>

	<body>
		<header>
			<h1>CIA Edit - Case: {{cia.case_number}}</h1>
		</header>

		<nav>
			{% include 'cia_portal/navigation.html' %}
		</nav>

		<form method="post">{% csrf_token %}
			<table class="vert_table">
				<tr>
					<th><label>Appliance:</label></th>
					<td>{{cia.appliance}}</td>
				</tr>
				<tr>
					<th><label>Subject:</label></th>
					<td>{{cia.subject}}</td>
				</tr>
				<tr>
					<th><label>Support Engineer:</label></th>
					<td>{{cia.support_engineer}}</td>
				</tr>
				<tr>
					<th><label>Severity:</label></th>
					<td>Level {{cia.severity}}</td>
				</tr>
				<tr>
					<th><label>Warranty Issued:</label></th>
					<td>{{cia.warranty_issued}}</td>
				</tr>
				<tr>
					<th><label>Open Date:</label></th>
					<td>{{cia.open_date}}</td>
				</tr>
				<tr>
					<th><label>Close Date:</label></th>
					<td>{{cia.close_date}}</td>
				</tr>
				<tr>
					<th><label>Reason for Call:</label></th>
					<td><pre>{{cia.reason}}</pre></td>
				</tr>
				<tr>
					<th><label>Action Taken:</label></th>
					<td><pre>{{cia.action}}</pre></td>
				</tr>
				<tr>
					<th><label>Description:</label></th>
					<td><pre>{{cia.description}}</pre></td>
				</tr>
				{{form.as_table}}
			</table>

			<p>
				<input type="submit" value="Submit" />
				<a href=".."><input type="button" value="Cancel" /></a>
			</p>
		</form>
	</body>
</html>
