<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<title>CIA Details</title>
		{% load staticfiles %}
		<link rel="shortcut icon" href="{% static 'cia_portal/favicon.ico' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/navigation.css' %}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<meta charset="utf-8" />
		<meta name="author" content="Michael O'Neill" />
		<meta name="keywords" content="CIA, details" />
		<meta name="description" content="CIA detail view." />
	</head>

	<body>
		<header>
			<h1>CIA Detail - Case: {{cia.case_number}}</h1>
		</header>

		<nav>
			{% include 'cia_portal/navigation.html' %}
		</nav>

		<h2>Subject: {{cia.subject}}</h2>

		<table class="vert_table">
			<tr>
				<th class="nowrap">Appliance:</th>
				<td><a href="../appliance/{{cia.appliance.id}}">{{cia.appliance.asset_tag}}</a></td>
			</tr>
			<tr>
				<th class="nowrap">Account:</th>
				<td>{{cia.appliance.account}}</td>
			</tr>
			<tr>
				<th class="nowrap">Open Date:</th>
				<td>{{cia.open_date}}</td>
			</tr>
			<tr>
				<th class="nowrap">Closed Date:</th>
				<td>{{cia.close_date}}</td>
			</tr>
			<tr>
				<th class="nowrap">Problem Description:</th>
				<td><pre>{{cia.description}}</pre></td>
			</tr>
			<tr>
				<th class="nowrap">Category:</th>
				<td><a href="../subcategory/{{cia.subcategory.id}}">{{cia.subcategory}}</a></td>
			</tr>
			<tr>
				<th class="nowrap">Warranty Issued:</th>
				<td>{{cia.warranty_issued}}</td>
			</tr>
			<tr>
				<th class="nowrap">Support Engineer:</th>
				<td>{{cia.support_engineer}}</td>
			</tr>
			<tr>
				<th class="nowrap">Severity:</th>
				<td>Level {{cia.severity}}</td>
			</tr>
			<tr>
				<th class="nowrap">Reason for Call:</th>
				<td>{{cia.reason}}</td>
			</tr>
			<tr>
				<th class="nowrap">Action Taken:</th>
				<td><pre>{{cia.action}}</pre></td>
			</tr>
			<tr>
				<th class="nowrap">Component:</th>
				<td><a href="../component/{{cia.component.id}}/">{{cia.component}}</a></td>
			</tr>
			{% if cia.component.id != cia.original_component.id %}
			<tr>
				<th class="nowrap">Original Component:</th>
				<td><a href="../component/{{cia.original_component.id}}/">{{cia.original_component}}</a></td>
			</tr>
			{% endif %}
			<tr>
				<th class="nowrap">Product Family:</th>
				<td>{{cia.product_family}}</td>
			</tr>
			<tr>
				<th class="nowrap">Not Enough Information:</th>
				<td>{{cia.not_enough_info}}</td>
			</tr>
			<tr>
				<th class="nowrap">RCA:</th>
				<td>{{cia.rca}}</td>
			</tr>
			<tr>
				<th class="nowrap">CLCA:</th>
				<td>{{cia.clca}}</td>
			</tr>
			<tr>
				<th class="nowrap">Reimaged:</th>
				<td>{{cia.reimage}}</td>
			</tr>
			<tr>
				<th class="nowrap">Bug:</th>
				<td>
				{% if cia.bug %}
					<a href="{{cia.bug_url}}{{cia.bug}}">{{cia.bug}}</a>
				{% else %}
					<a href="https://unitrends.atlassian.net/secure/CreateIssue!default.jspa">Create</a>
				{% endif %}
				</td>
			</tr>
			<tr>
				<th class="nowrap">Escalation:</th>
				<td>
				{% if cia.escalation %}
					<a href="{{cia.esc_url}}{{cia.escalation}}">{{cia.escalation}}</a>
				{% else %}
					<a href="https://unitrends.atlassian.net/secure/CreateIssue!default.jspa">Create</a>
				{% endif %}
				</td>
			</tr>
			<tr>
				<th class="nowrap">Knowledge Base:</th>
				<td>
				{% if cia.knowledge_base %}
					<a href="http://support.unitrends.com/ikm/questions.php?questionid={{cia.knowledge_base}}">{{cia.knowledge_base}}</a>
				{% else %}
					<a href="http://km.unitrends.com/ikm/">Create</a>
				{% endif %}
				</td>
			</tr>
			<tr>
				<th class="nowrap">Test Case:</th>
				<td>{{cia.test_case}}</td>
			</tr>
		</table>

		<form action="edit/">
			<p><input type="submit" value="Edit" /></p>
		</form>
	</body>
</html>
