<form method="get" id="datepicker" onsubmit="return warn(this.start_date_field.value, this.end_date_field.value)">
	<label for="start_date_field">Start Date</label>
	<input type="date" id="start_date_field" name="start_date" value="{{dates.START}}"
		onblur="warn(document.getElementById('datepicker').start_date_field.value, document.getElementById('datepicker').end_date_field.value);" />

	<label for="end_date_field">End Date</label>
	<input type="date" id="end_date_field" name="end_date" value="{{dates.END}}"
		onblur="warn(document.getElementById('datepicker').start_date_field.value, document.getElementById('datepicker').end_date_field.value);" />

	<input type="submit" value="Filter" />
	<input type="button" value="Latest" onclick="latest_dates();" />

	<div id="WARNING"></div>
</form>

<input type="hidden" id="last_week_start" name="last_week_start" value="{{dates.LAST_WEEK_START}}" readonly />
<input type="hidden" id="last_week_end" name="last_week_end" value="{{dates.LAST_WEEK_END}}" readonly />
