<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<title>Login</title>
		{% load staticfiles %}
		<link rel="shortcut icon" href="{% static 'cia_portal/favicon.ico' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cia_portal/css/navigation.css' %}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<meta charset="utf-8" />
		<meta name="author" content="Michael O'Neill" />
		<meta name="keywords" content="CIA, Login" />
		<meta name="description" content="Login page." />
	</head>

	<body>
		<header>
			<h1>Login</h1>
		</header>

		<nav>
			{% include 'cia_portal/navigation.html' %}
		</nav>

	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
			{% csrf_token %}
			<table>
				<tr>
					<td>{{form.username.label_tag}}</td>
					<td>{{form.username}}</td>
				</tr>
				<tr>
					<td>{{form.password.label_tag}}</td>
					<td>{{form.password}}</td>
				</tr>
			</table>

			<p><input type="submit" value="Login" /></p>
			<input type="hidden" name="next" value="/{{appname}}/" />
		</form>
	</body>
</html>
