<ul>
	<li><a href="/{{appname}}/">CIAs</a>
		<ul>
			<li><a href="/{{appname}}/latest/">Latest CIAs</a>
				<ul>
					<li><a href="/{{appname}}/latest/incomplete/?start_date={{dates.START}}&amp;end_date={{dates.END}}">Incomplete</a></li>
					<li><a href="/{{appname}}/latest/complete/?start_date={{dates.START}}&amp;end_date={{dates.END}}">Complete</a></li>
				</ul>
			</li>
			<li><a href="/{{appname}}/">All CIAs</a>
				<ul>
					<li><a href="/{{appname}}/incomplete/">Incomplete</a></li>
					<li><a href="/{{appname}}/complete/">Complete</a></li>
				</ul>
			</li>
			<li><a href="/{{appname}}/not_enough_info/">Not Enough Information</a></li>
		{% if user.is_authenticated %}
			<li><a href="/{{appname}}/import/">Import</a></li>
		{% endif %}
		</ul>
	</li>
{% if categories %}
	<li><a href="/{{appname}}/category/?start_date={{dates.START}}&amp;end_date={{dates.END}}">Categories</a>
		<ul>
			<li><a href="/{{appname}}/?start_date={{dates.START}}&amp;end_date={{dates.END}}">All</a>
	{% for category in categories %}
			<li><a href="/{{appname}}/category/{{category.id}}/?start_date={{dates.START}}&amp;end_date={{dates.END}}">{{category.name}}</a>
				<ul>
					<li><a href="/{{appname}}/category/{{category.id}}/incomplete/?start_date={{dates.START}}&amp;end_date={{dates.END}}">Incomplete</a></li>
					<li><a href="/{{appname}}/category/{{category.id}}/complete/?start_date={{dates.START}}&amp;end_date={{dates.END}}">Complete</a></li>
				</ul>
			</li>
	{% endfor %}
		</ul>
{% endif %}
{% if components %}
	<li><a href="/{{appname}}/component/?start_date={{dates.START}}&amp;end_date={{dates.END}}">Components</a>
		<ul>
			<li><a href="/{{appname}}/?start_date={{dates.START}}&amp;end_date={{dates.END}}">All</a>
	{% for component in components %}
			<li><a href="/{{appname}}/component/{{component.id}}/?start_date={{dates.START}}&amp;end_date={{dates.END}}">{{component.name}}</a>
				<ul>
					<li><a href="/{{appname}}/component/{{component.id}}/incomplete/?start_date={{dates.START}}&amp;end_date={{dates.END}}">Incomplete</a></li>
					<li><a href="/{{appname}}/component/{{component.id}}/complete/?start_date={{dates.START}}&amp;end_date={{dates.END}}">Complete</a></li>
				</ul>
			</li>
	{% endfor %}
		</ul>
	</li>
{% endif %}
	<li><a href="/{{appname}}/appliance/">Appliances</a></li>
{% if "edit" not in request.get_full_path  %}
	<li><a href="export/">Export</a></li>
{% endif %}
{% if user.is_authenticated %}
	<li><a href="/{{appname}}/logout/">Logout ({{user}})</a>
		<ul>
			<li><a href="../admin/">Django Admin</a></li>
		</ul>
	</li>
{% else %}
	<li><a href="/{{appname}}/login/">Admin Login</a></li>
{% endif %}
</ul>

{% include 'cia_portal/search_bar.html' %}
