.chart {
	position: absolute;
	left: 25em;
	shape-rendering: crispEdges;
}

.chart rect {
	stroke: #FFFFFF;
	fill: #336699;
}

.chart text.bar {
	fill: #FFFFFF;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #336699;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}
