nav {
	height: 2em;
	padding-left: 3.5em;
	margin-bottom: 1em;
	background-color: #232323;
	box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.85);
	width: auto;
}

nav label {
	color: #FFFFFF;
	line-height: 2em;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	margin: 0;
	padding: 0;
}

nav a:link {
	color: #ffffff;
	font-weight: normal;
}

nav ul {
	list-style: none;
}

nav > ul > li {
	float: left;
	position: relative;
}

nav > ul > li > a {
	color: #ffffff;
	line-height: 2em;
	padding: 0 2em;
	-webkit-transition: color .15s;
	-moz-transition: color .15s;
	-o-transition: color .15s;
	transition: color .15s;
}

nav > ul > li > ul {
	opacity: 0;
	visibility: hidden;
	padding: 0.5em 0;
	background-color: #fafafa;
	text-align: left;
	position: absolute;
	top: 55px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	-webkit-transition: all .3s .1s;
	-moz-transition: all .3s .1s;
	-o-transition: all .3s .1s;
	transition: all .3s .1s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.85);
	-moz-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.85);
	box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.85);
}

nav > ul > li > ul > li > a:link {
	color: #336699;
}

nav > ul > li > ul > li > a:hover {
	color: #ffffff;
}

nav > ul > li > ul > li > ul > li > a:link {
	color: #336699;
}

nav > ul > li > ul > li > ul > li > a:hover {
	color: #ffffff;
}

nav > ul > li:hover > ul {
	opacity: 1;
	top: 2.2em;
	visibility: visible;
	z-index: 10;
}

nav > ul > li > ul:before {
	content: '';
	display: block;
	border-color: transparent transparent #fafafa transparent;
	border-style: solid;
	border-width: 10px;
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -10px;
}

nav > ul ul > li {
	position: relative;
}

nav ul ul a {
	color: #323232;
	font-size: 0.8em;
	background-color: #fafafa;
	line-height: 1.6em;
	padding: 0 1em;
	display: block;
	-webkit-transition: background-color 0.1s;
	-moz-transition: background-color 0.1s;
	-o-transition: background-color 0.1s;
	transition: background-color 0.1s;
}

nav ul ul ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: -8px;
	left: 206px;
	padding: 0.5em 0;
	background-color: #fafafa;
	text-align: left;
	width: 180px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.85);
	-moz-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.85);
	box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.85);
}

nav > ul > li > a:visited {
	color: #ffffff;
}

nav ul ul > li:hover > ul {
	opacity: 1;
	left: 195px;
	visibility: visible;
	z-index: 11;
}

nav ul ul a:hover {
	background-color: #336699;
	color: #ffffff;
}

nav > ul > li > a:hover {
	color: #336699;
}
