body {
	font-family: sans-serif;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	min-width: 1130px;
}

a {
	font-weight: bold;
	text-decoration: none;
}
a:link {
	color: #336699;
}
a:visited {
	color: #336699;
}
a:hover {
	color: #224466;
}
a:active {}

.wide {
	width: 98%;
}

header {
	background-color: #CCCCCC;
	border-bottom: 1px solid black;
}

div.centered {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0.25em 0.5em;
}

table, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0 0.5em;
	margin: 1em 1.5em;
	vertical-align: middle;
}

table.centered {
	margin: 1em auto;
}

table {
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.85);
}

table pre {
	margin: 0;
	line-height: 1.25em;
	max-width: 100em;
	white-space: pre-wrap;
}

td.link {
	text-align: center;
}

td.link a {
	display: inline-block;
	height: 100%;
	width: 100%;
}

td.link a:hover {
	background-color: #336699;
	color: #FFFFFF;
}

thead, tfoot {
	color: #000000;
	text-align: center;
}

.vert_table th {
	text-align: left;
}

th {
	background-color: #777777;
	border: 1px solid black;
	padding: 0 0.5em;
}

td a {
	margin: 0 -0.5em;
	padding: 0 0.5em;
}

tbody tr:hover {
	background-color: #CCCCCC;
}

.attention a {
	color: #DC322F;
}

.attention a:before, .attention a:after {
	content: "*";
}

.nowrap {
	white-space: nowrap;
}

.partial a {
	color: #B58900;
}

p {
	margin: 1em;
}

#datepicker {
	text-align: center;
}

.error {
	background-color: #DC322F;
	color: #FFFFFF;
}

#WARNING {
	visibility: hidden;
}

#WARNING.error {
	visibility: visible;
}

#search_form {
	float: right;
	margin: 0 1em;
}

#search_input {
	padding: 2px;
	margin: 0.25em;
}
